---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Us</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <h3>Make media resources energy efficient</h3> 
    <p>
    Hello. We are 1Bit Boys and we are trying to make internet as energy efficient as possible. We are starting our journey by optimising the media resources in Finland
  </p>
    
    <h3>Problem</h3>
    <p>
    We made a research to find out current media website energy efficiency problems. Based on our research mainstream media websites such as yle.fi or iltalehti.fi are consuming much more energy on page load than needed for content delivery. Potentially this is a thousands of euros wasted everyday.
  </p>
    <h3>Solution</h3>
    <p>
    We decided to optimise it and create our own media resource that will take articles from different sources of official news and serve it for users in most energy efficient way possible. To achieve this we have to develop server and client using green code. We decided to use lightweight CMS Astro that is based on Markdown and pure HTML page generation. Our server is deployed on Solar powered raspberry pi3. We are compressing images to 1Bit and as a result achieving excellent results in terms of energy saving
  </p>
    <h3>Technology Used</h3>
    <ul>
    Astro CMS
    Javascript
    Node JS
    Raspberry PI3
    Python
    RSS
  </ul>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
