

const data = await fetch('http://192.168.34.77:3000/').then((response) =>
  response.json()
);

// Components that are build-time rendered also log to the CLI.
// When rendered with a client:* directive, they also log to the browser console.
console.log(data);

export const Blogs = () => {
// Output the result to the page
  return <div>{JSON.stringify(data)}</div>;
};